SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
SUPABASE_ANON_KEY=YOUR_ANON_PUBLIC_KEY
API_SECRET_KEY=oksooht-security-2026
API_SECRET_KEY=oksooht-security-2026
